<!DOCTYPE html>
<ui:composition template="WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="title">Address Book</ui:define>

	<ui:define name="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<h:form>
						<div class="form-group">
							<label>Firstname:</label>
							<h:inputText id="firstname" value="#{addressViewController.firstname}"	class="form-control" 
								 required="true" requiredMessage="Please enter your Firstname" />
							<h:message for="firstname" style="color:red" />		
						</div>
						<div class="form-group">
							<label>Lastname:</label>
							<h:inputText id="lastname" value="#{addressViewController.lastname}" class="form-control" 
								required="true" requiredMessage="Please enter your Lastname" />
							<h:message for="lastname" style="color:red" />		
						</div>
						<div class="form-group">
							<label>Phone number:</label>
							<h:inputText id="phoneNumber" value="#{addressViewController.phoneNumber}" class="form-control" 
								a:placeholder="000 000 00 00" required="true" requiredMessage="Please enter your Phone number" validator="#{validator.validatePhoneNumber}" >
							</h:inputText>
							<h:message for="phoneNumber" style="color:red" />		
						</div>
						<div class="form-group">
							<label>Email:</label>
							<h:inputText id="email" value="#{addressViewController.email}" class="form-control" 
								required="true" requiredMessage="Please enter your Email" validator="#{validator.validateEmail}" >
							</h:inputText>
							<h:message for="email" style="color:red" />		
						</div>
						<ui:fragment rendered="#{addressViewController.message.length()>0}">
							<div class="alert alert-info">#{addressViewController.message}</div>
						</ui:fragment>
						<div class="form-group">
							<label></label>
							<h:commandButton action="#{addressViewController.saveAddress()}"
								value="save" class="btn btn-default" />
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>