<!DOCTYPE html>
<ui:composition template="WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<ui:define name="title">Address Book</ui:define>

	<ui:define name="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-xs-12">
					<h:form>
						<table class="table table-responsive">
							<thead>
								<tr>
									<th>Lastname</th>
									<th>Firstname</th>
									<th>Phone number</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="address" value="#{addressViewController.tempAddress}" rowKeyVar="i">
									<tr>
										<td><h:inputText id="firstname#{i + 1}" value="#{address.firstname}" class="form-control" 
											required="true" requiredMessage="Please enter your Firstname" />
											<h:message for="firstname#{i + 1}" style="color:red" />		
										</td>
										<td><h:inputText id="lastname#{i + 1}" value="#{address.lastname}" class="form-control" 
											required="true" requiredMessage="Please enter your Lastname" />
											<h:message for="lastname#{i + 1}" style="color:red" />		
										</td>
										<td><h:inputText id="phoneNumber#{i + 1}" value="#{address.phonenumber}" class="form-control" 
											a:placeholder="000 000 00 00" required="true" requiredMessage="Please enter your Phone number" 
											validator="#{validator.validatePhoneNumber}" />
											<h:message for="phoneNumber#{i + 1}" style="color:red" />	
										</td>	
										<td><h:inputText id="email#{i + 1}" value="#{address.email}" class="form-control" 
											required="true" requiredMessage="Please enter your Email" 
											validator="#{validator.validateEmail}" />
											<h:message for="email#{i + 1}" style="color:red" />	
											</td>
										<td><h:commandLink rendered="true" value=""
												action="#{addressViewController.removeAddress(address.id)}">
												<h:graphicImage width="32" height="32"
													value="/resources/ic_delete_black_48dp_1x.png" />
											</h:commandLink></td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
						<h:commandButton action="#{addressViewController.editAddresses}"
							value="save" class="btn btn-default" />
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>