<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><ui:insert name="title"/></title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    
</h:head>
<h:body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1><ui:insert name="title" /></h1>
			</div>
			<div class="col-md-12">
	            <h:link value="add address" outcome="addAddress" class="btn btn-default"/>&#160;
	            <h:link value="show addresses" outcome="showAddresses" class="btn btn-default"/>&#160;
	            <h:link value="edit addresses" outcome="editAddresses" class="btn btn-default"/>
	            <hr />
			</div>
			<div class="col-md-12">
				<ui:insert name="content"/>
			</div>
		</div>
	</div>
</h:body>
</html>
